.css-zow5z4-MuiGrid-root>.MuiGrid-item{
    margin-top: 0;
    margin-left: 0;
}

.css-1hyn5nc-MuiStepper-root{
    margin: 0px 1rem 0px 0px !important; 
}
.css-1cjy8su-MuiSlider-track{
    background-image: #EEEDE5 !important;
}